<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower
        Solutions </span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="fa fa-money"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/registration"><i class="far fa-edit"
              arial-hidden="true"></i> Registration</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploaddoc"><i class="fa fa-file"
              arial-hidden="true"></i>Documents</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploadView"><i class="far fa-file"
              arial-hidden="true"></i>Doc View</button>

        </div>
      </h1>
    </div>
  </div>
</div>
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Company Registration ... !! </p>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="container">
      <div class="card bg-light text-dark">

      </div>
      <div class="card bg-light text-dark">
        <div class="card-body">
          <h3>User: {{id}}</h3>
          <!-- <input type="button" value="Logout"  class="btn btn-danger" (click)="logoutUser()"> -->
          <button type="button" class="btn btn-danger" value="Logout" (click)="logOut($event)">Logout <i
              class="fas fa-lock-open" arial-hidden="true"></i></button>
        </div>
      </div>
      <br>
      <div class="card bg-light text-dark">
        <div class="card-body">
          <h3>Company List:</h3>
          <!-- Product table -->
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th scope="col">CompanyName</th>
                <th scope="col">Category</th>
                <th scope="col">Allocated</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ps of employeedetailsList" data-spy="scroll" data-offset="50">
                <td>{{ps.compname}}</td>
                <td>{{ps.category}}</td>
                <td>{{ps.allocated}}</td>
                <td><button type="button" class="btn btn-danger" id="{{ps.id}}" (click)="delete($event)">Delete <i
                      class="far fa-trash-alt" arial-hidden="true"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <form>
            <h3>Add New Company:</h3>
            <div class="form-group">
              <label>Company Name:</label>
              <input type="text" name="namen" class="form-control" [(ngModel)]="compname" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>Category:</label>
              <input type="text" name="category" class="form-control" [(ngModel)]="category" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>Allocated Manpower:</label>
              <input type="text" name="company" class="form-control"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" [(ngModel)]="allocated">
            </div>
            <input type="submit" id="submit" class="btn btn-success mr-2" (click)="clickSubmit($event)">
            <div *ngIf="showEdit" class="alert alert-success"> Product edited successfully...</div>
            <div *ngIf="showMsg" class="alert alert-success">Product added successfully...</div>
          </form>
        </div>
      </div> <br>

    </div>
  </div>
</div>