.pointer{cursor: pointer;}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 200px;
    height: 30px;
     margin-left: 850px; 
     display: inline-block
}
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
 
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    text-align: center;
    background-color: #17a2b8;
    color: white;
  }
  thead>tr>th {
    cursor: pointer;
}
.table-content {
margin-bottom: 1300px;

}

.search_div {
  float: right;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 25px;
  background: none;
  padding: 2px;
}
.search_icon{
  padding: 3px 34px 3px 10px;
  border: none;
  background: none;
  outline: none;
}

.search_icon::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

.search_icon::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

.search_icon:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}
#PerPage {
padding: 5px 15px;
border: 1px solid;
background: none;
outline: none; 
}
.items_per_page {
    float: left;
}
#PerPage option:hover { background: red; }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a20a39;
  }
.search_icon::placeholder {
    color:#a20a39;
    opacity: 1; /* Firefox */
  }
  
 .search_icon:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #a20a39;
  }
  
  .search_icon::-ms-input-placeholder { /* Microsoft Edge */
   color:#a20a39;
  }
  .items_per_page_text {
      font-size: 15px;
      margin-right: 7px;
  }
  .paginateDiv {
      text-align: right;
  }
  .ngx-pagination .current {
      background: #a20a39 !important;
      border-radius: 25px;
  }
  .remarksDiv .text_area{
    display: inline-flex;
  }
 .remarksDiv .remarks_text{
     display: inline-block
 }
 .download-file  {
   cursor: pointer;
 }