<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower Solutions </span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="far fa-edit"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salaryDetails"><i class="fas fa-users"
              arial-hidden="true"></i>Salary Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/monthlysalary"><i class="fa fa-money"
              arial-hidden="true"></i>Monthly Salary List</button>
        </div>
      </h1>
    </div>
  </div>
</div>
<!--TABLE 1-->
<div class="table-content">
  <div class="col-md-12">

    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
      </select>
    </div>

    <div class="search_div">

      <i class="fa fa-search" aria-hidden="true"></i>


      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>

  </div>
  <br>
  <br>
  <tr>
    <select class="btn btn-outline-danger" id="months" (change)="onchange($event)">
      <option value='' disabled>--Select Month--</option>
      <option value='31,JAN' disabled>Janaury</option>
      <option value='28,FEB' disabled>February</option>
      <option value='31,MAR' disabled>March</option>
      <option value='30,APR' disabled>April</option>
      <option value='31,MAY' disabled>May</option>
      <option value='30,JUNE' disabled>June</option>
      <option value='31,JULY' disabled>July</option>
      <option value='31,AUG'>August</option>
      <option value='30,SEP'>September</option>
      <option value='31,OCT'>October</option>
      <option value='30,NOV'>November</option>
      <option value='31,DEC'>December</option>
    </select>
  </tr>
  <button type="button" class="btn btn-warning" id={{id}} (click)="fetchData($event)">Overall PaySlip </button>
  <table class="table table-striped " id="customers">

    <tr>
      <th>CheckBox</th>
      <th>Emp-Id:</th>
      <th>Name:</th>
      <th>Monthly Salary</th>
      <th>Total Days</th>
      <th>Working Days</th>
      <th>Casual Leave</th>
      <th>Sick Leave</th>
      <th>Date of Payment</th>
      <th>Save</th>
    </tr>

    <tr
      *ngFor="let item of employeedetailsList | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
      <td><input type="checkbox" id="{{item.id}}" (change)="getempbyid($event)"></td>
      <td>{{item.id}}</td>
      <td>{{ item.empname }}</td>
      <td>{{item.monthlysalary}}</td>
      <td><input type="text" value="{{monthdays}}" id="monthdays"></td>
      <td><input type="text" value="" id="workingDays{{item.id}}"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="2"></td>
      <td><input type="text" value="" placeholder="" id="casualleaves{{item.id}}" value=""  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="2"></td>
      <td><input type="text" value="" placeholder="" id="sickleave{{item.id}}" value=""  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="2"></td>
      <td><input type="date" value="" placeholder="" id="dateofpayment{{item.id}}" value="" ></td>
      <td><button type="button" class="btn btn-success" id={{id}} (click)="clickSubmit($event)"
         >Save </button></td>
    </tr>
  </table>

  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>