<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower Solutions </span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
            arial-hidden="true"></i> Home</button>
            <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="fa fa-usd"
              arial-hidden="true"></i> Salary Management</button>
            <button type="button" class="btn-info btn-lg" routerLink="/salaryDetails"><i class="fa fa-rupee"
              arial-hidden="true"></i>Salary Details</button>
        <button type="button" class="btn-info btn-lg" routerLink="/monthlysalary"><i class="fa fa-list"
            arial-hidden="true"></i>Monthly Salary List</button>
            

        </div>
      </h1>
    </div>
  </div>
</div>
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Salary Management ...!! </p>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="container">

      <form>
        <h3>Get Employee By Id:</h3>
        <div class="form-group">
          <label>Enter Employee-Id:</label>
          <input type="text" name="empid"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" class="form-control" [(ngModel)]="id" maxlength="4">
          <br>
        </div>
        <input type="submit" id="submit" id="{{id}}" class="btn btn-success mr-2" (click)="editedDetails($event)">
      </form>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <form>
            <h3>Add Salary:</h3>
            <div class="form-group">
              <label>Employee Name:</label>
              <input type="text" name="namen"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" value="{{names}}" class="form-control" [(ngModel)]="compname" readonly>
            </div>
            <div class="form-group">
              <label>Adhar:</label>
              <input type="text" name="category"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" value="{{adhars}}" class="form-control" [(ngModel)]="adhar"
                readonly>
            </div>
            <br>
            <!-- <div class="form-group">
              <label>Employee Status</label>
              <select class="form-control" id="status">
                <option value="" disabled>Enter Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div> -->
            <div class="form-group">
              <label>Joined Month:</label>
              <input type="date" name="company" value="{{joineddates}}" class="form-control" [(ngModel)]="joineddate">
            </div>
            <div class="form-group">
              <label>Monthly Salary:</label>
              <input type="text" name="company"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" class="form-control" [(ngModel)]="monthlysalary" maxlength="5">
            </div>
            <input type="submit" id="submit" id="{{id}}" class="btn btn-success mr-2" (click)="clickSubmit($event)">

          </form>
        </div>
      </div> <br>

    </div>
  </div>
</div>