<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower
        Solutions </span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="far fa-edit"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salaryDetails"><i class="fas fa-users"
              arial-hidden="true"></i>Salary Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/monthlysalary"><i class="far fa-edit"
              arial-hidden="true"></i>Monthly Salary List</button>

          <button type="button" class="btn-info btn-lg" routerLink="/printInvoice"><i class="far fa-edit"
              arial-hidden="true"></i>See Salary List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploaddoc"><i class="fa fa-file"
              arial-hidden="true"></i>Documents</button>
        </div>
      </h1>
    </div>
  </div>
</div>
<!--TABLE 1-->
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Document of Your Choice ... !!</p>
</div>
<div class="table-content">
  <div class="col-md-12">

    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
      </select>
    </div>

    <div class="search_div">

      <i class="fa fa-search" aria-hidden="true"></i>


      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>

  </div>
  <div class="table-content">
    <div class="col-md-12">

      <table class="table table-striped " id="customers">
        <tr>
          <th>Date</th>
          <th>File Name:</th>
          <th>Url</th>
        </tr>

        <tr
          *ngFor="let item of employeedetailsList | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index"
          id={{item.id}}>
          <td>{{item.date}}</td>
          <td>{{ item.fileName }}</td>
          <td><a
              href="http://localhost:8993/downloadFile/{{item.id}}">http://localhost:8993/downloadFile/{{item.id}}</a>
          </td>
        </tr>
      </table>
      <div class="paginateDiv">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>