<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower
        IT Solutions</span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="fa fa-money"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/registration"><i class="far fa-edit"
              arial-hidden="true"></i> Registration</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploaddoc"><i class="far fa-edit"
              arial-hidden="true"></i>Documents</button>
              <button type="button" class="btn-info btn-lg" routerLink="/uploadView"><i class="far fa-file"
                arial-hidden="true"></i>Doc View</button>

        </div>
      </h1>
    </div>
  </div>
</div>

<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Upload Docs of Your Choice ... !!</p>
</div>

<div class="wrapper">
  <div class="file-upload">
    <input type="file" (change)="onFileChange($event)" multiple />
    <i class="fa fa-arrow-up">Upload_Doc</i>
  </div>
</div>
