<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower Solutions </span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
            arial-hidden="true"></i> Home</button>
            <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="far fa-edit"
              arial-hidden="true"></i> Salary Management</button>
            <button type="button" class="btn-info btn-lg" routerLink="/salaryDetails"><i class="fas fa-users"
              arial-hidden="true"></i>Salary Details</button>
        <button type="button" class="btn-info btn-lg" routerLink="/monthlysalary"><i class="far fa-edit"
            arial-hidden="true"></i>Monthly Salary List</button>


        </div>
      </h1>
    </div>
  </div>
</div>
<!--TABLE 1-->
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Salary Structure ... !! </p>
</div>
<br>
<br>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <h3>SALARY STRUCTURE</h3>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th scope="col">Emp-Id</th>
            <th scope="col">Name</th>
            <!-- <th scope="col">Adhar</th>
            <th scope="col">Joined Month</th> -->
            <th scope="col">Salary Per Month </th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of employeedetailsList">
            <td>{{p.id}}</td>
            <td>{{p.empname}}</td>
            <!-- <td>{{p.adhar}}</td>
            <td>{{p.joineddate}}</td> -->
            <td>{{p.monthlysalary}}</td>
            <td><button type="button" class="btn btn-danger" id="{{p.id}}" (click)="delete($event)">Delete <i
                  class="fas fa-user-times" arial-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--TABLE 2-->

</div>