.jumbotron{
    height: 120px;
}


.button {
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    align-content: center;
    align-items: center;
    box-align: center;
    align-self: center;
  }