<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower
        Solutions</span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="fa fa-money"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/registration"><i class="far fa-edit"
              arial-hidden="true"></i> Registration</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploaddoc"><i class="fa fa-files-o"
              arial-hidden="true"></i>Documents</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploadView"><i class="far fa-file"
              arial-hidden="true"></i>Doc View</button>
        </div>
      </h1>
    </div>
  </div>
</div>
<!-- form -->
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Add & Get Employee ... !! </p>
</div>
<br>
<br>
<div class="row">
  <div class="col-lg-4">
    <div class="container">
      <h3>EMPLOYEES MANAGEMENT</h3>
      <form #imageForm=ngForm (ngsubmit)="onSubmitImage(Image)">
        <div class="form-group">
          <label>Emp-Id :</label>
          <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid" maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="form-group">
          <label>Name :</label>
          <input type="text" name="name" value="{{names}}" class="form-control" [(ngModel)]="name" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
        </div>
        <div class="form-group">
          <label>Phone No :</label>
          <input type="text" name="mobile" value="{{mobiles}}" class="form-control" [(ngModel)]="mobile" maxlength="10"  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="form-group">
          <label>Adhar No :</label>
          <input type="text" name="adhar" value="{{adhars}}" class="form-control" [(ngModel)]="adhar" maxlength="12" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="form-group">
          <label>Pan No :</label>
          <input type="text" name="pan" value="{{pans}}" class="form-control" [(ngModel)]="pan" maxlength="10" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="form-group">
          <label>Joined Date :</label>
          <input type="date" name="pan" value="{{joineddate}}" class="form-control" [(ngModel)]="joinedDate">
        </div>
        <div class="form-group">
          <label>Address :</label>
          <input type="text" name="address" value="{{addresses}}" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" class="form-control" [(ngModel)]="address">
        </div>
        <input type="submit" class="btn btn-success mr-2" (click)="clickSubmit(event)">
        <input type="reset" value="Cancel" class="btn btn-danger">
      </form>
    </div>
  </div>
  
  <div class="col-lg-8">
    <div class="container">
      <!-- Table -->
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th scope="col">Emp-Id</th>
            <th scope="col">Name</th>
            <th scope="col">Adhar No.</th>
            <th scope="col">Pan No</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Joined Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of employeedetailsList">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.adhar}}</td>
            <td>{{e.pan}}</td>
            <td>{{e.mobile}}</td>
            <td>{{e.joineddate}}</td>

            <td><button type="button" class="btn btn-primary" id="{{e.id}}" (click)="editedDetails($event)">Edit <i
                  class="fas fa-user-edit" arial-hidden="true"></i></button></td>
            <td><button type="button" class="btn btn-danger" id="{{e.id}}" (click)="delete($event)">Delete <i
                  class="fas fa-user-times" arial-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>