<div id="wrapper" class="">

  <div class="overlay" style="display: none;"></div>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

      <ul class="nav sidebar-nav">

          <img src="/assets/images/ubibanner.png" height="60px" width="250px">
 
          <li>
              <a href="" [routerLink]="['/home']"><i class="glyphicon glyphicon-ok"></i>Home</a>
          </li>
          <li>
              <a href="" [routerLink]="['/employeeDetails']"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Employee Details</a>
          </li>
          <li>
              <a href="" [routerLink]="['/todo']"><i class="glyphicon glyphicon-ok"></i> ToDo List </a>
          </li>
           <!-- <li>
              <a href="" [routerLink]="['/empunit']"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Employee Unit Mapping</a>
          </li> -->
          
          <li>
              <a href="" [routerLink]="['/salary']"><i class="glyphicon glyphicon-ok"></i>Salary </a>
          </li> 
      
          <li>
              <a href="" [routerLink]="['/registration']"><i class="glyphicon glyphicon-ok"></i>Registration</a>
          </li>
         

      </ul>
  </nav>
  <div id="page-content-wrapper">
      <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas" (click)="toggleClick($event)"> 
          
       <span class=" hamb-top "></span>
       <span class="hamb-middle "></span>
       <span class="hamb-bottom "></span>
    </button>

  </div>

</div>