<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower Solutions </span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="far fa-edit"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salaryDetails"><i class="fas fa-users"
              arial-hidden="true"></i>Salary Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/monthlysalary"><i class="far fa-edit"
              arial-hidden="true"></i>Monthly Salary List</button>

              <button type="button" class="btn-info btn-lg" routerLink="/printInvoice"><i class="far fa-edit"
                arial-hidden="true"></i>See Salary List</button>
        </div>
      </h1>
    </div>
  </div>
</div>
<!--TABLE 1-->
<h3>August Month PayList</h3>
<div class="table-content">
  <div class="col-md-12">

   
   

    <button type="button" class="btn btn-warning" id={{id}} (click)="fetchData($event)">PaySlip List  </button>
  <table class="table table-striped " id="customers">
    <tr>
      <th>Employee-Id:</th>
      <th>Name:</th>
      <th>Salary Monthly</th>
      <th>Working Days</th>
      <th>Sick Leaves</th>
      <th>Casual Leaves</th>
      <th>Date Of Payment</th>
      <th>Paid Salary</th>
      
    
    </tr>

    <tr  (click)="fetchData($event)" *ngFor="let item of employeedetailsLists1 | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index" id={{item.id}}>
      <td>{{item.id}}</td>
      <td>{{ item.empname }}</td>
      <td>{{ item.monthlysalary}}</td>
      <td>{{item.workingdays}}</td>
      <td>{{item.sickleave}}</td>
      <td>{{item.casualleave}}</td>
      <td>{{item.dateofpayment}}</td>
      <td>{{ item.outcomesalary }}</td>
      
    </tr>
  </table>

 
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>September Month PayList</h3>
<div class="table-content">
  <div class="col-md-12">

   

  <table class="table table-striped " id="customers">
    <tr>
      <th>Employee-Id:</th>
      <th>Name:</th>
      <th>Salary Monthly</th>
      <th>Working Days</th>
      <th>Sick Leaves</th>
      <th>Casual Leaves</th>
      <th>Date Of Payment</th>
      <th>Paid Salary</th>
    
    </tr>

    <tr  (click)="fetchData($event)" *ngFor="let item of employeedetailsLists2 | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index" id={{item.id}}>
      <td>{{item.id}}</td>
      <td>{{ item.empname }}</td>
      <td>{{ item.monthlysalary}}</td>
      <td>{{item.workingdays}}</td>
      <td>{{item.sickleave}}</td>
      <td>{{item.casualleave}}</td>
      <td>{{item.dateofpayment}}</td>
      <td>{{ item.outcomesalary }}</td>
    </tr>
  </table>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>October Month PayList</h3>
<div class="table-content">
  <div class="col-md-12">

   
    
  </div>

  <table class="table table-striped " id="customers">
    <tr>
      <th>Employee-Id:</th>
      <th>Name:</th>
      <th>Salary Monthly</th>
      <th>Working Days</th>
      <th>Sick Leaves</th>
      <th>Casual Leaves</th>
      <th>Date Of Payment</th>
      <th>Paid Salary</th>
    
    </tr>

    <tr  (click)="fetchData($event)" *ngFor="let item of employeedetailsLists3 | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index" id={{item.id}}>
      <td>{{item.id}}</td>
      <td>{{ item.empname }}</td>
      <td>{{ item.monthlysalary}}</td>
      <td>{{item.workingdays}}</td>
      <td>{{item.sickleave}}</td>
      <td>{{item.casualleave}}</td>
      <td>{{item.dateofpayment}}</td>
      <td>{{ item.outcomesalary }}</td>
    </tr>
  </table>

  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>November Month PayList</h3>
<div class="table-content">
  <div class="col-md-12">

   
   

  </div>

  <table class="table table-striped " id="customers">
    <tr>
      <th>Employee-Id:</th>
      <th>Name:</th>
      <th>Salary Monthly</th>
      <th>Working Days</th>
      <th>Sick Leaves</th>
      <th>Casual Leaves</th>
      <th>Date Of Payment</th>
      <th>Paid Salary</th>
    
    </tr>

    <tr  (click)="fetchData($event)" *ngFor="let item of employeedetailsLists4 | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index" id={{item.id}}>
      <td>{{item.id}}</td>
      <td>{{ item.empname }}</td>
      <td>{{ item.monthlysalary}}</td>
      <td>{{item.workingdays}}</td>
      <td>{{item.sickleave}}</td>
      <td>{{item.casualleave}}</td>
      <td>{{item.dateofpayment}}</td>
      <td>{{ item.outcomesalary }}</td>
    </tr>
  </table>

 
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>December Month PayList</h3>
<div class="table-content">

   

  </div>

  <table class="table table-striped " id="customers">
    <tr>
      <th>Employee-Id:</th>
      <th>Name:</th>
      <th>Salary Monthly</th>
      <th>Working Days</th>
      <th>Sick Leaves</th>
      <th>Casual Leaves</th>
      <th>Date Of Payment</th>
      <th>Paid Salary</th>
    
    </tr>

    <tr  (click)="fetchData($event)" *ngFor="let item of employeedetailsLists5 | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index" id={{item.id}}>
      <td>{{item.id}}</td>
      <td>{{ item.empname }}</td>
      <td>{{ item.monthlysalary}}</td>
      <td>{{item.workingdays}}</td>
      <td>{{item.sickleave}}</td>
      <td>{{item.casualleave}}</td>
      <td>{{item.dateofpayment}}</td>
      <td>{{ item.outcomesalary }}</td>
    </tr>
  </table>

 
</div>
