
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 200px;
    height: 50px;
     margin-left: 820px; 
     display: inline-block
}
  
  h3{
    text-align: center;
    color: darkblue;
  }
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(163, 153, 12);
    color: white;
  }
  thead>tr>th {
    cursor: pointer;
}
.table-content {
  display: block;
    margin-left: 12px;
    margin-right: 12px;
}
.search_div {
  float: right;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 25px;
  background: none;
  padding: 2px;
}
.search_icon{
  padding: 3px 34px 3px 10px;
  border: none;
  background: none;
  outline: none;
}

.search_icon::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

.search_icon::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

.search_icon:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}
#PerPage {
padding: 5px 15px;
border: 1px solid;
background: none;
outline: none; 
}
.items_per_page {
    float: left;
}
#PerPage option:hover { background: red; }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a20a39;
  }
.search_icon::placeholder {
    color:#a20a39;
    opacity: 1; /* Firefox */
  }
  
 .search_icon:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #a20a39;
  }
  
  .search_icon::-ms-input-placeholder { /* Microsoft Edge */
   color:#a20a39;
  }
  .items_per_page_text {
      font-size: 15px;
      margin-right: 7px;
  }
  .paginateDiv {
      text-align: right;
  }
  .ngx-pagination .current {
      background: #a20a39 !important;
      border-radius: 25px;
  }
  .remarksDiv .text_area{
    display: inline-flex;
  }
 .remarksDiv .remarks_text{
     display: inline-block
 }
 .download-file  {
   cursor: pointer;
 }