
.chart{
    width: 50%;
    float: left;
    padding: 40px;
    height: 70%;
}
.chartInline{
    border: 3px solid #fff;
    padding: 20px;
}
.w3-lobster {
    font-family: "Lobster", serif;
    text-align: center;
    color: rgb(95, 231, 4);
  }