<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower
        IT Solutions</span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
    </h1>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
              arial-hidden="true"></i> Home</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="fa fa-money"
              arial-hidden="true"></i> Salary Management</button>
          <button type="button" class="btn-info btn-lg" routerLink="/registration"><i class="far fa-edit"
              arial-hidden="true"></i> Registration</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploaddoc"><i class="fa fa-files-o"
              arial-hidden="true"></i>Documents</button>
          <button type="button" class="btn-info btn-lg" routerLink="/uploadView"><i class="far fa-file"
              arial-hidden="true"></i>Doc View</button>
              <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="fa fa-dashboard"
                arial-hidden="true"></i>Dashboard</button>

        </div>
      </h1>
    </div>
  </div>
</div>
<!--TABLE 1-->
<div class="w3-container w3-lobster">
  <p class="w3-xxlarge">Employee & Company Registered ... !! </p>
</div>
<br>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="container">
      <h3>COMPANY NAMES</h3>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Company Category</th>
            <th scope="col">Manpower Allocated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of compname">
            <td>{{p.compname}}</td>
            <td>{{p.category}}</td>
            <td>{{p.allocated}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
  <!--TABLE 2-->
  <div class="col-lg-6">
    <div class="container">
      <h3>EMPLOYEE NAMES</h3>
      <!-- Table -->
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th scope="col">Emp-Id</th>
            <th scope="col">Name</th>
            <th scope="col">Adhar No.</th>
            <th scope="col">Pan No</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Joined Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of employeedetailsList">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.adhar}}</td>
            <td>{{e.pan}}</td>
            <td>{{e.mobile}}</td>
            <td>{{e.joineddate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>