#invoice{
    padding: 10px;
}


body,
.font-constant {
  font-size: 11px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 10px;
    padding: 3px;
    margin-left: 50px;
    margin-bottom: 5px;
    min-width: 100px;
    border-style: solid;

}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 200px;
    height: 50px;
     margin-left: 820px; 
     display: inline-block
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffc107
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    color: #078cf1;
    
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    margin-left: 50px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #ffc107
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px
}

.invoice table td,.invoice table th {
    padding: 10px;
    background: #eee;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.invoice table th {
    font-weight: bold;
    font-size: 16px;
    text-align: center;


}

.invoice table td h3 {
    margin: 0;
    font-weight: 200;
    color: #ffc107;
    font-size: 1em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: center;
    font-size: 1.0em
}

.invoice table .no {
    color: #fff;
    font-size: 1.2em;
    background: #ffc107;
    text-align: center;
    
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #ffc107;
    text-align: center;
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #ffc107
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 4px 0
}

