
<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
        <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>Ganga Manpower Solutions </span>
        <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
        <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
        <span class="site-heading-lower" *ngIf="showMsg">(<u>Ganga Manpower Solutions</u>)</span>
      </h1>
    </div>
    <!-- link -->
    <div class="container">
      <div class="col-lg">
        <h1 class="site-heading text-center text-white d-none d-lg-block">
          <div class="btn-group">
            <button type="button" class="btn-info btn-lg" routerLink="/home"><i class="fas fa-home"
                arial-hidden="true"></i> Home</button>
            <button type="button" class="btn-info btn-lg" routerLink="/salary"><i class="fa fa-usd"
                arial-hidden="true"></i> Salary Management</button>
            <button type="button" class="btn-info btn-lg" routerLink="/salaryDetails"><i class="fa fa-rupee"
                arial-hidden="true"></i>Salary Details</button>
            <button type="button" class="btn-info btn-lg" routerLink="/monthlysalary"><i class="fa fa-list"
                arial-hidden="true"></i>Monthly Salary List</button>
          </div>
        </h1>
      </div>
    </div>
  </div>

  <body>
  <div class="toolbar hidden-print">
    <div class="text-right">
        <button id="printInvoice" class="btn btn-warning" (click)="print($event)"><i class="fa fa-print"></i> Print</button>
    </div>
    <hr>
</div>
<div id="invoice">
    <tr *ngFor="let item of employeedetailsLists1">

    
    <div class="invoice overflow-hidden">
        <div style="min-width: 500px">
         
            <main>

                <div class="row contacts">
                    <div class="col invoice-to">
                        <div id="print-section">
                          
                        <div class="text-gray-dark">Paid To:</div>
                        <br>
                        <h2 class="to">{{item.empname}} </h2>
                        <div class="address">Telangana Hyderabad</div>
                        <div class="email"><a href="mailto:john@example.com">niteshbhushan95@.com</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">Ganga Manpower Solutions</h1>
                        <div class="date">Date of Payslip: 01/10/2018</div>
                        <div class="date">Date: 30/10/2018</div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Emp-Id</th>
                            <th class="text-left">Name</th>
                            <th class="text-center">Salary </th>
                            <th class="text-center">Advance</th>
                            <th class="text-center">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no">{{item.id}}</td>
                            <td class="text-left"><h3>
                                <a target="_blank" href="">
                              {{item.empname}}
                                </a>
                                </h3>
                               <a target="_blank" href="">
                                   Working Solutions
                               </a> 
                               Stay Tuned :)
                            </td>
                            <td class="unit">{{item.outcomesalary}}</td>
                            <td class="qty">{{item.monthlysalary}}</td>
                            <td class="total">{{item.outcomesalary}}</td>
                        </tr>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>5000</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Totalsalary </td>
                            <td>{{item.monthlysalary}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>{{item.outcomesalary}}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="thanks">Thank you!</div>
                <div class="notices">
                          </div>

                   </div>
                   <br>
                   <br>
            </main>
            
      
        </div>
        <div></div>
    </div>
</tr>
</div>      
</body>